.theme-green {
    --nyanza: #d8f3dcff;
    --turquoise-green: #b7e4c7ff;
    --turquoise-green-2: #95d5b2ff;
    --ocean-green: #74c69dff;
    --mint: #52b788ff;
    --illuminating-emerald: #40916cff;
    --bottle-green: #2d6a4fff;
    --msu-green: #1b4332ff;
    --dark-jungle-green: #081c15ff;
}

.theme-blue {
    --prussian-blue: #012a4aff;
    --indigo-dye: #013a63ff;
    --indigo-dye-2: #01497cff;
    --usafa-blue: #014f86ff;
    --honolulu-blue: #2a6f97ff;
    --celadon-blue: #2c7da0ff;
    --blue-green: #468fafff;
    --maximum-blue: #61a5c2ff;
    --dark-sky-blue: #89c2d9ff;
    --light-blue: #a9d6e5ff;
}

.theme-blue2{
    --midnight-blue: #03045eff;
    --dark-cornflower-blue: #023e8aff;
    --star-command-blue: #0077b6ff;
    --blue-green: #0096c7ff;
    --pacific-blue: #00b4d8ff;
    --sky-blue-crayola: #48cae4ff;
    --middle-blue: #90e0efff;
    --blizzard-blue: #ade8f4ff;
    --light-cyan: #caf0f8ff;
}

.theme-new {
    --frame-color: #ffffff;
    --topnav-color: #2D033B;
    --sidebar-color: #810CA8;
    --main-color: #C147E9;
    --card-color:  #E5B8F4 ;
}

.theme-new2 {
    --frame-color: #ffffff;
    --topnav-color: #472183;
    --sidebar-color: #4b56d28e;
    --main-color: #F1F6F5;
    --card-color:  #82C3EC;
}