/* 所有主題色 */
:root {
    /* 基本框架 */
    --frame-color: #ffffff;

    --topnav-color: #212529ff;
    --sidebar-color: #343a40ff;
    --main-color: #495057ff;
    
    /* topnav 組件 */
    /* --topnav-item-color:; */
    --avatar-color: #e9ecefff;

    /* 通用comon 組件 */
    --item-box-color: #f8f9faff;
    --card-color: #f8f9faff;



    --gainsboro: #dee2e6ff;
    --light-gray: #ced4daff;
    --cadet-blue-crayola: #adb5bdff;
    --sonic-silver: #6c757dff;
}

.theme-new {
    --frame-color: #ffffff;
    --topnav-color: #2D033B;
    --sidebar-color: #810CA8;
    --main-color: #C147E9;
    --card-color:  #E5B8F4 ;
}

.theme-new2 {
    --frame-color: #ffffff;
    --topnav-color: #472183;
    --sidebar-color: #4b56d28e;
    --main-color: #F1F6F5;
    --card-color:  #82C3EC;
}

/* https://colorhunt.co/ */
/* https://coolors.co/palettes/trending */
/* https://www.bfa.com.tw/blog/color-tools */