* {
    /* 基本組件 */
    /* frame */
    --frame-min-width: 375px;
    --frame-width:  100%;
    --frame-height: 100%;
    --frame-template-areas:
    'side main'
    'side main';

    /* tponav */
    --topnav-width: 100%;
    --topnav-height: 56px;

    /* sidebar */
    --sidebar-width: 256px;
    --sidebar-height: 100%;

    /* main */
    --main-width: 100%;
    --main-height: 100%;
    --main-padding: 8px;

    /* topnav 組件 */
    /* topnav-item */
    --topnav-item-width: ;
    --topnav-item-height: ;
    --topnav-item-padding:8px;
    --topnav-item-text-size:28px;
    /* 頭像 avatar */
    --avatar-width: 40px;
    --avatar-height:40px;
    /* topnav-text */
    --topnav-text-width: ;
    --topnav-text-height: ;
    --topnav-text-padding: 8px;
    --topnav-text-text-size: 28px;
    
    /* 通用common 組件 */
    /* item-box */
    --item-box-width: 200px;
    --item-box-height: 200px;
    --item-box-margin: 8px;
    /* card */
    --card-widht: 100%;
    --card-height: 100%;
    /* Logo */
    --Logo-width: var(--sidebar-width);
    --Logo-height: var(--topnav-height);
    --Logo-padding: 8px;
    --Logo-text-size: 28px;
}

iframe{
    width: 98%;
    height: 98%;
}